.navbar-dashbor {
  box-sizing: border-box;
  background-color: hsla(0, 0%, 100%, 0.71);
  border: 1px solid transparent;
  border-radius: 0 0 20px 20px;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  backdrop-filter: blur(11px);
  white-space: nowrap;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 1030;
  top: 0;
  right: 0;
  left: 0;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 0px 97px;
}

.navbar-meno {
  display: flex;
  justify-content: space-between;
}

.menu-icon {
  outline: none !important;
  border: none !important;
  background-color: inherit;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* پس‌زمینه تیره */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* بالاتر از سایر عناصر */
}

.modal-content {
  background: white; /* پس‌زمینه محتوای مودال */
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.meno-items {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: row-reverse;
}

.meno-items li {
  padding: 10px;
}

.profile-img img {
  width: 59px;
  margin-top: 22px;
  border-radius: 35px;
}
.pakan-logo {
  width: 55px;
}

.meno-items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  margin-bottom: 59px;
}

.meno-items > li {
  font-family: YekanBakh-Medium;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #6d6e71;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.meno-items > li > a {
  color: #6d6e71 !important;
  padding-right: 16px;
  padding-left: 16px;
  display: block;
  height: 90%;
  padding-top: 35px;
}

.meno-items > li:last-child > a {
  margin-right: 16px;
}

/* @media (min-width: 1400px) {
  .navbar-content {
    padding: 0px 200px;
  }
} */
@media (max-width: 1167px) {
  .navbar-content {
    padding: 0px 36px;
  }
}
