body{
    background-color: #1d1f24;
}
.style-signIn{
    box-sizing: border-box;
    background-color: #14161c;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px 277px;
    padding-bottom: 275px;
}

.style-logo{
    display: flex;
    justify-content: left;
    background: #fff;
    width: 123px;
    height: 35px;
    top: 52px;
    padding: 14px  7px;
    border-radius: 0 8px 8px 0;
    margin: 24px 0px;
}

.logo{
    width: 100px;
    height: 45px;
    margin: -6px 27px 0px;
}



.style-input-num{
    display: flex;
    justify-content: space-between;
    padding: 14px 0px 0px 24px;
}

.style-pluse{
    color: white;
    padding: 28px 4px;
    box-sizing: border-box;
}

.input-box-num{
    display: flex;
    flex-direction: column;
}

.style-input-pass{
    display: flex;
    flex-direction: column;
}

.style-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.style-reg-link{
    display: flex;
    justify-content: center;
    align-items: center;
}

.style-reg-link span{
    margin-left: 7px;
}


