.table {
  /* font-family: arial, sans-serif; */
  border-collapse: collapse;
  width: 100% !important;
}

.table td,
th {
  border: none;
  /* text-align: left; */
  padding: 8px;
}

.tHead {
  /* display: flex; */
  width: 100% !important;
}

.tHead tr {
  /* width: 100%; */
}

.tHead th {
  /* width: 100%; */
}

.first-table-td {
  color: #474545;
}
.table-th {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.56;
  color: #707070;
}

.table-td {
  /* font-family: YekanBakh; */
  font-size: 18px;
  font-weight: normal;
  line-height: 1.94;
  color: #707070;
}
